// mixins

@mixin boxShadow {
    box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.5);
}

@mixin profilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

@mixin flex {
    display: flex;
    align-items: center;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexSpace {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin createBTN {
    width: 8opx;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: $color-14;
    color: $white;
    font-size: 16px;
}

@mixin uplodaImage {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

@mixin updateBtn  {
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: $color-1;
    color: $white;
    margin-top: 10px;
    font-weight: 600;
}