$white: #fff;
$black: #000;

$color-1: darkblue;
$color-2: red;
$color-3: #555;
$color-4: green;
$color-5: #5550bd;
$color-6: #eeeef7;
$color-7: #e5faf2;
$color-8: #fff0f1;
$color-9: #ebf1fe;
$color-10: #3bb077;
$color-11: #d95087;
$color-12: #2a7ade;
$color-13: #3bb077;
$color-14: teal;
$color-15: #444;
$color-16: whitesmoke;

$color-light: rgb(251, 251, 255);
$color-light-grey: rgb(187, 186, 186);
$color-light-dark: rgb(175, 170, 170);
$color-gray: rgb(240, 240, 255);

