$white: #fff;
$black: #000;

$color-1: darkblue;
$color-2: red;
$color-3: #555;
$color-4: green;
$color-5: #5550bd;
$color-6: #eeeef7;

$color-light: rgb(251, 251, 255);
$color-light-grey: rgb(187, 186, 186);
$color-gray: rgb(240, 240, 255);

