.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__item {
        flex: 1;
        margin: 0px 20px;
        padding: 30px;
        border-radius: 5px;
        cursor: pointer;
        @include boxShadow;
    }

    &__title {
        font-size: 20px;
    }

    &__container {
        margin: 5px 0px;
        display: flex;
        align-items: center;
    }

    &__money {
        font-size: 30px;
        font-weight: 600;
    }
    
    &__rate {
        align-items: center;
        margin-left: 5px;
    }

    &__icon-negative {
        font-size: 15px !important;
        margin-left: 5px;
        color: $color-2;
    }

    &__icon-positive {
        font-size: 15px !important;
        margin-left: 5px;
        color: $color-4;
    }

    &__sub {
        font-size: 15px;
        color: $color-3;
    }
}