.productList {
    flex: 4;

    &__item {
        @include flex;
    }

    &__profile {
        @include profilePicture;
        margin-right: 10px;
    }

    &__edit {
        border: none;
        border-radius: 7px;
        padding: 5px 15px;
        background-color: $color-13;
        color: $white;
        cursor: pointer;
        margin-right: 20px;
    }

    &__delete {
        color: $color-2;
        cursor: pointer;
    }
}