.user {
    flex: 4;
    padding: 20px;

    &__info {
        @include flexSpace;
    }

    &__addBtn {
        width: 8opx;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        background-color: $color-14;
        color: $white;
        font-size: 16px;
    }

    &__container {
        display: flex;
        margin-top: 20px;
    }

    &__show {
        flex: 1;
        padding: 20px;
        @include boxShadow;
    }

    &__showTop {
        @include flex;
    }

    &__showTopTitle {
        display: flex;
        flex-direction: column;
    }

    &__showUsername {
        font-weight: 600;
    }

    &__showJob {
        font-weight: 300;
    }

    &__showBottom {
        margin-top: 20px;
    }

    &__showBottomTitle {
        font-size: 14px;
        font-weight: 600;
        color: $color-light-dark;
    }

    &__showBottomInfo {
        @include flex;
        margin: 20px;
        color: $color-15;
    }

    &__showBottomIcon {
        font-size: 16px !important; 
    }

    &__showBottomUserTitle {
        margin-left: 10px;
    }

    &__update {
        flex: 4;
        padding: 20px;
        @include boxShadow;
        margin-left: 20px; 
    }

    &__updateTitle {
        font-size: 24px;
        font-weight: 600;
    }

    &__updateForm {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    &__updateItem {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    &__updateItem > label {
        margin-bottom: 5px;
        font-size: 14px;
    }

    &__updateInput {
        border: none;
        width: 250px;
        height: 30px;
        border-bottom: 1px solid $color-light-dark;
    }

    &__updateRight {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &__updateUpload {
        @include flex;
    }

    &__updateProfile {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        object-fit: cover;
        margin-right: 20px;
    }

    &__updateIcon {
        cursor: pointer;
    }

    &__updateBtn {
        border: none;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
        background-color: $color-1;
        color: $white;
        font-weight: 600;
    }
}
